// our colors
$bg-black: #202020;
$white: #ffffff;
$light-yellow: #e9ff5c;
$yellow-green: #c0da1a;
$primary: #202020;
$almost-black: #424242;
$black-gradient: linear-gradient(#303512, #202020);
$gray: #d9d9d9;
