$font-family: "Inter",
sans-serif;
$second-family: "Druk Cyr",
sans-serif;
$third-family: "Raleway",
sans-serif;
$font3: "MADE Evolve Sans",
sans-serif;
$font4: "Futura PT",
sans-serif;
$font5: "Transforma Mix_Trial",
sans-serif;